{% extends 'componentes/menu.html' %} {% block contenedor%}
<body>

  {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-danger alert-dismissible alertas-txt">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
  {% endif %}

  <div class="titulo">
    <p>Inicio de sesión </p>
  </div>

<div class="login">
  <form action="/iniciarSesion" method="post">
    <div class="form-group">
      <img src="{{url_for('static',filename='images/login.png')}}" height="45%" width="45%"/>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control input-lg" name="email"  id="" placeholder="Usuario" required />
      </div>      
    </div>
    <div class="form-group">
      <div class="input-group">        
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control input-lg" name="password"  id="" placeholder="Password" required />
      </div>      
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Iniciar sesión</button>
    </div>
    <div class="form-group">
      <a href="/" class="btn btn-danger btn-block btn-lg" role="button">Cancelar</a>
    </div>    
  </form>
</div>
  

</body>
{% endblock%}
