{% extends 'componentes/head.html' %} {% block contenedor%}
  <header>  
    <nav class="navbar navbar-default">      
      <div class="container-fluid">                        
        <ul class="nav navbar-nav">              
          <li><a href="/">Inicio</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Puestos
              <span class="caret"></span>
            </a>           
            <ul class="dropdown-menu">
              <li><a href="/registrarPuestos">Registrar</a></li>
              <li><a href="/puestos">Ver catalogo</a></li>                
            </ul>
          </li> 
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Turnos
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/registrarTurnos">Registrar</a></li>
                <li><a href="/turnos">Consultar</a></li>
              </ul>
          </li>         
          <li><a href="/sucursales">Sucursales</a></li>                    
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Inicia sesión</a></li>
        </ul>
      </div>
    </nav>
    
  </header>
  {%block cuerpo%} 

  {%endblock%} 

{%endblock%}
