{% extends 'componentes/menu.html' %}
{% import 'componentes/paginacion.html' as macros %}
{%block cuerpo%}

{% if get_flashed_messages()%}
  {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible alertas-txt">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{m}}</strong>
    </div>
  {% endfor %}
{% endif %}

<div class="titulo">
  <p>Catálogo formas de pago</p>
</div>

<div class="container input-group">
  <span class="input-group-addon amarillo"><i class="glyphicon glyphicon-search"></i></span>
  <input class="form-control" id="myInput" type="text" placeholder="Search...">
  <br>
</div>

<div class="tabla"> 
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Estatus</th>      
      <th></th>      
      <th></th>    
    </thead>

    <tbody id="myTable"> 
    {%for obj in formasdePago%} 
    <tr>
      <td>{{obj.idFormaPago}}</td>
      <td>{{obj.nombre}}</td>
      <td>{{obj.estatus}}</td>       
      <td>
        <a href="/editarFormasdePago/{{obj.idFormaPago}}" class="btn btn-success" role="button">
          <span class="glyphicon glyphicon-pencil"></span>
          Editar</a>
      </td>   
      <td>
        <a href="" class="btn btn-danger" role="button" data-toggle="modal" data-target="#eliminar{{obj.idFormaPago}}">
          <span class="glyphicon glyphicon-trash"></span>
          Eliminar </a>
      </td>           
    </tr>
    <div id="eliminar{{obj.idFormaPago}}" class="modal fade" role="dialog">
      <div class="modal-dialog">   
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Confirmacion de proceso</h4>
            <h4 class="modal-title">Se a seleccionado la forma de pago: {{obj.idFormaPago}}</h4>
          </div>
          <div class="modal-body">
            <p>Se eliminará la forma de pago  {{obj.nombre}} </p>
          </div>
          <div class="modal-footer">
            <a href="/eliminarFP/{{obj.idFormaPago}}" class="btn btn-info"
              >Aceptar</a
            >
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Cancelar
            </button>        
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="paginacion">
  {{ macros.pagination_widget(pagination, '.formasdePago') }}
</div>

{%endblock%}