{% extends 'componentes/menu.html' %}
{%block cuerpo%}

{% if get_flashed_messages()%}
  {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible alertas-txt">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{m}}</strong>
    </div>
  {% endfor %}
{% endif %}

<div class="titulo">
  <p>Modificar turno </p>
</div>

<div class="contenedor-formulario">
  <form action="/editarT/{{turno.idTurno}}" method="post" enctype="multipart/form-data">   
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" name="nombreTurno" value="{{turno.nombre}}" id="nombre"  onchange='consultarNombre("turnos")' required>
      <div id="mensajeNombre" style="background-color:brown;color:white">
      </div>
    </div>
    <div class="form-group">
      <label>Hora Incio</label>
      <input type="time" class="form-control" name="horaInicioT" value="{{turno.horaInicio.time()}}" required>
    </div> 
    <div class="form-group">
      <label>Hora Fin</label>
      <input type="time" class="form-control" name="horaFinT" value="{{turno.horaFin.time()}}" required>
    </div> 
    <div class="form-group">
        <label>Dias</label>
        <div>   
          {% if dias['L']%}       
          <label class="checkbox-inline"><input type="checkbox" name="Lunes" value="True" checked>L</label>
          {% else %}
          <label class="checkbox-inline"><input type="checkbox" name="Lunes" value="True">L</label>
          {% endif %}

          {% if dias['M']%}       
          <label class="checkbox-inline"><input type="checkbox" name="Martes" value="True" checked>M</label>
          {% else %}
          <label class="checkbox-inline"><input type="checkbox" name="Martes" value="True">M</label>
          {% endif %}

          {% if dias['X']%}       
          <label class="checkbox-inline"><input type="checkbox" name="Miercoles" value="True" checked>X</label>
          {% else %}
          <label class="checkbox-inline"><input type="checkbox" name="Miercoles" value="True">X</label>
          {% endif %}

          {% if dias['J']%}       
          <label class="checkbox-inline"><input type="checkbox" name="Jueves" value="True" checked>J</label>
          {% else %}
          <label class="checkbox-inline"><input type="checkbox" name="Jueves" value="True">J</label>
          {% endif %}

          {% if dias['V']%}       
          <label class="checkbox-inline"><input type="checkbox" name="Viernes" value="True" checked>V</label>
          {% else %}
          <label class="checkbox-inline"><input type="checkbox" name="Viernes" value="True">V</label>
          {% endif %}

          {% if dias['S']%}       
          <label class="checkbox-inline"><input type="checkbox" name="Sabado" value="True" checked>S</label>
          {% else %}
          <label class="checkbox-inline"><input type="checkbox" name="Sabado" value="True">S</label>
          {% endif %}

          {% if dias['D']%}       
          <label class="checkbox-inline"><input type="checkbox" name="Domingo" value="True" checked>D</label>
          {% else %}
          <label class="checkbox-inline"><input type="checkbox" name="Domingo" value="True">D</label>
          {% endif %}
          
        </div> 
      </div>
    <button type="submit" class="btn btn-primary btn-block" id="btnGuardar">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Modificar
    </button>
    <a href="/turnos" class="btn btn-danger btn-block" role="button">Cancelar</a>
  </form>
</div>
{%endblock%}