{% extends 'componentes/menu.html' %}
{%block cuerpo%}
{% if get_flashed_messages()%}
  {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible alertas-txt">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{m}}</strong>
    </div>
  {% endfor %}
{% endif %}

<div class="titulo">
  <p>Registro de turno </p>
</div>

    <div class="contenedor-formulario">   
    <form action="/registrarT" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label > Nombre</label>
      <input type="text" class="form-control" name="nombreTurno" id="nombre" onblur='consultarNombre("turnos")'  required>
      <div id="mensajeNombre" style="background-color:brown;color:white"></div>
    </div>
    <div class="form-group">
      <label>Hora Inicio</label>
      <input type="time" class="form-control" name="horaInicioT" required>
    </div>
    <div class="form-group">
        <label>Hora Fin</label>
        <input type="time" class="form-control" name="horaFinT" required>
      </div>

      <div class="form-group">
        <label>Dias</label>
        <div>
          <label class="checkbox-inline"><input type="checkbox" name="Lunes" value="True">L</label>
          <label class="checkbox-inline"><input type="checkbox" name="Martes" value="True">M</label>
          <label class="checkbox-inline"><input type="checkbox" name="Miercoles" value="True">X</label>
          <label class="checkbox-inline"><input type="checkbox" name="Jueves" value="True">J</label>
          <label class="checkbox-inline"><input type="checkbox" name="Viernes" value="True">V</label>
          <label class="checkbox-inline"><input type="checkbox" name="Sabado" value="True">S</label>
          <label class="checkbox-inline"><input type="checkbox" name="Domingo" value="True">D</label>
        </div>        
      </div>

    <button type="submit" class="btn btn-primary btn-block" id="btnGuardar">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Resgistrar
    </button>
    <a href="/turnos" class="btn btn-danger btn-block" role="button">Cancelar</a>
  </form>
  </div>
{%endblock%}