{% extends 'componentes/menu.html' %}
{%block encabezado%}
<div class="encabezado txt-encabezado">
    <label class="margenes-I">ERP</label>        
</div>
{%endblock%}
{%block cuerpo%}

{% if get_flashed_messages()%}
  {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible alertas-txt">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{m}}</strong>
    </div>
  {% endfor %}
{% endif %}

<div class="contenedor-formulario">
  <form action="/editarP/{{puesto.idPuesto}}" method="post" enctype="multipart/form-data">   
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" class="form-control" name="nombrePuesto" value="{{puesto.nombre}}">
    </div>
    <div class="form-group">
      <label>Salario Mínimo:</label>
      <input type="number" class="form-control" name="salarioMinimo" value="{{puesto.salarioMinimo}}">
    </div> 
    <div class="form-group">
      <label>Salario Máximo:</label>
      <input type="number" class="form-control" name="salarioMaximo" value="{{puesto.salarioMaximo}}">
    </div> 

    <div class="checkbox">
      {% if puesto.estatus=='1' %}
      <label><input type="checkbox" name="estatus"  value='True' checked> Estatus </label>
      {% else %}
      <label><input type="checkbox" name="estatus" value='True' > Estatus </label>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-default">Modificar</button>
  </form>
</div>
{%endblock%}