{% extends 'componentes/menu.html' %}
{%block encabezado%}
<div class="encabezado txt-encabezado">
    <label class="margenes-I">ERP</label>        
</div>
{%endblock%}
{%block cuerpo%}

<div class="container">
<table class="table table-striped">
    <thead class="slot-center">
      <th>ID</th>
      <th>Nombre</th>
      <th>Salario Minimo</th>
      <th>Salario Maximo</th>
      <th>Estatus</th>  
      <th></th>  
      <th></th>       
    </thead>

    {%for obj in puestos%} 
    <tr>
      <td>{{obj.idPuesto}}</td>
      <td>{{obj.nombre}}</td>
      <td>{{obj.salarioMinimo}}</td>
      <td>{{obj.salarioMaximo}}</td>
      <td>{{obj.estatus}}</td>     
      <td>
        <a href="/editarPuestos/{{obj.idPuesto}}" class="btn" role="button">
          <img              
            src="{{url_for('static',filename='images/editar.png')}}"
          />
        </a>
      </td> 
      <td>
        <a href="/eliminarP/{{obj.idPuesto}}" class="btn" role="button">
          <img             
            src="{{url_for('static',filename='images/eliminar.png')}}"
          />
        </a>
      </td>         
    </tr>
    {% endfor %}
    </table>
  </div>
{%endblock%}