{% extends 'componentes/menu.html' %}
{%block cuerpo%}

{% if get_flashed_messages()%}

{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible alertas-txt">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}

<div class="titulo">
  <p>Nonimina </p>
</div>
<form action="/nominaEditar" method="post" enctype="multipart/form-data">
  <div class="contenedor3">
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="idestado">Empleado:</label>
        <select name="empleado" id="empleado" class="form-control " disabled >
          {%for obj in empleados %}
          {% if obj.idEmpleado == nomina.idEmpleado %}
          <option value="{{obj.idEmpleado}}" id="{{obj.salarioDiario}}"  selected>{{obj.nombre}} {{obj.apellidoPaterno}} {{obj.apellidoMaterno}}</option>
          {% else %}
          
          {% endif %}
          {% endfor %}
        </select>

      </div>
      <div class="form-group col-sm-3">
        <label for="idestado">Periodo:</label>
        <select name="periodo" id="periodo" class="form-control " disabled>
          {%for obj in periodos %}
          {% if obj.idPeriodo == nomina.idPeriodo %}
          <option value="{{obj.idPeriodo}}" selected>{{obj.nombre}} {{obj.fechaInicio}} - {{obj.fechaFin}}</option>
          {% else %}
         
          {% endif %}
          
          {% endfor %}
        </select>
      </div>


      <div class="form-group col-sm-2">
        <label>Días trabajados:</label>
        <input type="number" min="1" class="form-control " name="diasTrabajados" id="diasTrabajados" value="{{nomina.diasTrabajados}}" readonly>
        <div id="mensajeNombre" style="background-color:brown;color:white">
        </div>
      </div>
      <div class="form-group col-sm-2">
        <label for="idestado">Forma de pago:</label>
        <select name="formaPago" id="formaPago" class="form-control " disabled>
          
          {%for obj in fp %}
          {% if obj.idFormaPago == nomina.idFormaPago %}
          <option value="{{obj.idFormaPago}}" >{{obj.nombre}}</option>
          {% else %}
          
          {% endif %}
          
          {% endfor %}
        </select>
      </div>

      <div class=" col-sm-2">
        <div class="form-group">
          <label>Fecha pago:</label>
          <input type="date" class="form-control " name="fechaPago" class="form-control" value="{{nomina.fechaPago}}" readonly>
          <div id="mensajeFecha" style="background-color:brown;color:white">
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="contenedor4 row">
          <label class="subtitulo col-sm-12">DEDUCCIONES</label>

         
          <table class="table  tabla2" id="tablaDeducciones">
            <thead>          
              <th>Deducción</th>                  
              <th>Porcentaje</th>
              <th>Importe</th> 
                           
            </thead>
        
            <tbody id="tablaD"> 
              {%for obj in nominaD %}
                <tr id="{{obj.idDeduccion}}">
                  <td>{{obj.deduccion()}}</td>
                  <td>{{obj.porcentaje()}}</td>
                  <td>{{obj.importe}}</td>
                  
                 
                </tr>
              {% endfor %}
              
            </tbody>
        </table> 
        <div class="form-group col-sm-4"></div>
        <div class="form-group col-sm-4"><label>Retenciones:</label></div>
        <div class="form-group col-sm-4">          
          <input type="number" class="form-control " name="retenciones" id="retenciones"  value="{{nomina.retenciones}}" readonly>          
        </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="contenedor4 row">

          <label class="subtitulo col-sm-12">PERCEPCIONES</label>

          
          <table class="table  tabla2" id="tablaPercepcion">
            <thead>          
              <th>Percepción</th>                  
              <th>Días</th>
              <th>Importe</th>                    
            </thead>
        
            <tbody id="tablaP"> 
              {%for obj in nominaP %}
              <tr id="{{obj.idPercepcion}}+P">
                <td>{{obj.percepcion()}}</td>
                <td>{{obj.dias()}}</td>
                <td>{{obj.importe}}</td>
                
                
              </tr>
              {% endfor %}
            </tbody>
        </table>
        <div class="form-group col-sm-4"></div>
        <div class="form-group col-sm-4"><label>Subtotal:</label></div>
        <div class="form-group col-sm-4">          
          <input type="number" class="form-control " name="subtotal" id="subtotal" value="{{nomina.subtotal}}" readonly>          
        </div>
        </div>
      </div>

      <div class="form-group col-sm-9"></div>
        <div class="form-group col-sm-1"><label>Total:</label></div>
      <div class="form-group col-sm-2">        
        <input type="number" class="form-control " name="total" id="total" readonly value="{{nomina.total}}">        
      </div>

    </div>

    <div class="row ">
      <div class="form-group col-sm-6">
        <button type="submit" class="btn btn-block btn-danger " id="btnGuardar"
          onclick="this.form.action='/nominaRevisar/{{nomina.idNomina}}/Captura', this.form.method='post', this.form.enctype='multipart/form-data'">
          <span class="glyphicon glyphicon-floppy-disk"></span>
          Rechazar
        </button>
      </div>

      <div class="form-group col-sm-6">
        <button type="submit" class="btn btn-block btn-success " id="btnGuardar2"
          onclick="this.form.action='/nominaRevisar/{{nomina.idNomina}}/Autorizada', method='post', enctype='multipart/form-data'">
          <span class="glyphicon glyphicon-envelope"></span>
          Autorizar
        </button>
      </div>
    </div>
    

  </div>
</form>

{%endblock%}
